.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  font-size: 10px;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  margin-bottom: 15px;
}
.section_subtitle {
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 45px;
  font-family: "Playfair Display";
  letter-spacing: 5px;
  line-height: 1.8;
}
