#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: start;
  padding: 30px;
  background-image: url("../images/a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero > h1 {
  font-family: "playfair Display";
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
}
#hero > p {
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 1.5;
}
#hero > button {
  width: 300px;
  padding: 10px 15px;
  background: transparent;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}
