.skill_box {
  margin-bottom: 20px;
}
.skill_box > p {
  color: #555;
  margin-bottom: 15px;
}
.skill_grey_box {
  background: #999;
  border-radius: 6px;
}
.skill_color_box {
  width: 99.9%;
  background: blue;
  border-radius: 6px;
  position: relative;
  color: blue;
  height: 6px;
}
.skill_color_box > span {
  position: absolute;
  right: 0;
  top: -22px;
  font-size: 12px;
}

.C {
  background: aqua;
  width: 80%;
}
.CSS {
  background: red;
  width: 85%;
}
.Python {
  background: blue;
  width: 45%;
}
.Cpp {
  background: green;
  width: 75%;
}
.HTML {
  background: beige;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .outerbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
